#map {
  width: 80%;
  margin: 0 10%;
  height: 400px;
  z-index: 6;
}
#placeholder {
  width: 100%;
  height: auto;
}
#bg-img {
	position: absolute;
	width: 100%;
  	height: 100%;
	background: none;
	z-index: 4;
}
#bg-img.toggle {
	background: url(../img/zac.jpeg) no-repeat center center;
	background-size: cover;
}
#map.toggle {
	visibility: hidden;
}

#next{
	margin-left: 70%;
	margin-top: 2%;
	z-index: 1;
}

#back{
	margin-left: 10%;
	margin-top: 2%;
	z-index: 2;
}